# Output
data
data_backup

# PyCharm
.idea

# Python
*.pyc
__pycache__


src/.ipynb_checkpoints/inference-checkpoint.ipynb
.vscode/settings.json
src/.ipynb_checkpoints/active_loop-checkpoint.ipynb
src/.ipynb_checkpoints/Untitled-checkpoint.ipynb
src/output*

*.pth

src/old/*
src/.ipynb_checkpoints/parallel_test-checkpoint.ipynb
src/ent_mean_w50_5k/eval_results/checkpoint_step7_coco_results.json
src/ent_mean_w50_5k/eval_results/checkpoint_step7_results.txt
src/img_out/bot10_0.jpg
src/img_out/bot10_1.jpg
src/img_out/bot10_2.jpg
src/img_out/bot10_3.jpg
src/img_out/bot10_4.jpg
src/img_out/bot10_5.jpg
src/img_out/bot10_6.jpg
src/img_out/bot10_7.jpg
src/img_out/bot10_8.jpg
src/img_out/bot10_9.jpg
src/img_out/top10_0.jpg
src/img_out/top10_1.jpg
src/img_out/top10_2.jpg
src/img_out/top10_3.jpg
src/img_out/top10_4.jpg
src/img_out/top10_5.jpg
src/img_out/top10_6.jpg
src/img_out/top10_7.jpg
src/img_out/top10_8.jpg
src/img_out/top10_9.jpg
src/img_out3/bot10_0.jpg
src/img_out3/bot10_1.jpg
src/img_out3/bot10_2.jpg
src/img_out3/bot10_3.jpg
src/img_out3/bot10_4.jpg
src/img_out3/bot10_5.jpg
src/img_out3/bot10_6.jpg
src/img_out3/bot10_7.jpg
src/img_out3/bot10_8.jpg
src/img_out3/bot10_9.jpg
src/img_out3/bot10_10.jpg
src/img_out3/bot10_11.jpg
src/img_out3/bot10_12.jpg
src/img_out3/bot10_13.jpg
src/img_out3/bot10_14.jpg
src/img_out3/bot10_15.jpg
src/img_out3/bot10_16.jpg
src/img_out3/bot10_17.jpg
src/img_out3/bot10_18.jpg
src/img_out3/bot10_19.jpg
src/img_out3/top10_0.jpg
src/img_out3/top10_1.jpg
src/img_out3/top10_2.jpg
src/img_out3/top10_3.jpg
src/img_out3/top10_4.jpg
src/img_out3/top10_5.jpg
src/img_out3/top10_6.jpg
src/img_out3/top10_7.jpg
src/img_out3/top10_8.jpg
src/img_out3/top10_9.jpg
src/img_out3/top10_10.jpg
src/img_out3/top10_11.jpg
src/img_out3/top10_12.jpg
src/img_out3/top10_13.jpg
src/img_out3/top10_14.jpg
src/img_out3/top10_15.jpg
src/img_out3/top10_16.jpg
src/img_out3/top10_17.jpg
src/img_out3/top10_18.jpg
src/img_out3/top10_19.jpg
src/img_out5/bot10_0.jpg
src/img_out5/bot10_1.jpg
src/img_out5/bot10_2.jpg
src/img_out5/bot10_3.jpg
src/img_out5/bot10_4.jpg
src/img_out5/bot10_5.jpg
src/img_out5/bot10_6.jpg
src/img_out5/bot10_7.jpg
src/img_out5/bot10_8.jpg
src/img_out5/bot10_9.jpg
src/img_out5/bot10_10.jpg
src/img_out5/bot10_11.jpg
src/img_out5/bot10_12.jpg
src/img_out5/bot10_13.jpg
src/img_out5/bot10_14.jpg
src/img_out5/bot10_15.jpg
src/img_out5/bot10_16.jpg
src/img_out5/bot10_17.jpg
src/img_out5/bot10_18.jpg
src/img_out5/bot10_19.jpg
src/img_out5/top10_0.jpg
src/img_out5/top10_1.jpg
src/img_out5/top10_2.jpg
src/img_out5/top10_3.jpg
src/img_out5/top10_4.jpg
src/img_out5/top10_5.jpg
src/img_out5/top10_6.jpg
src/img_out5/top10_7.jpg
src/img_out5/top10_8.jpg
src/img_out5/top10_9.jpg
src/img_out5/top10_10.jpg
src/img_out5/top10_11.jpg
src/img_out5/top10_12.jpg
src/img_out5/top10_13.jpg
src/img_out5/top10_14.jpg
src/img_out5/top10_15.jpg
src/img_out5/top10_16.jpg
src/img_out5/top10_17.jpg
src/img_out5/top10_18.jpg
src/img_out5/top10_19.jpg
