# Output
data
data_backup

# PyCharm
.idea

# Python
*.pyc
__pycache__


src/.ipynb_checkpoints/inference-checkpoint.ipynb
.vscode/settings.json
src/.ipynb_checkpoints/active_loop-checkpoint.ipynb
src/.ipynb_checkpoints/Untitled-checkpoint.ipynb
src/output*